manifest {
    name        = 'nf_genotype_population'
    description = 'Ploidy-aware per-strain calling, joint genotyping, and filtering for Rhodotorula population genomics'
}

executor {
    name            = 'slurm'
    queueSize       = 100
    submitRateLimit = '10/1min'
}

singularity {
    enabled      = true
    autoMounts   = true
    cacheDir     = '/bigdata/stajichlab/shared/lib/singularity_cache'
    envWhitelist = 'SCRATCH'
    runOptions   = '--home "$PWD"'
}

process {
    executor       = 'slurm'
    cache          = 'lenient'
    shell          = ['/bin/bash', '-l']
    clusterOptions = '-N 1 -n 1'
    beforeScript   = 'module load singularity; export TMPDIR="${SCRATCH:?}"; export SINGULARITYENV_TMPDIR="${SCRATCH:?}"; export SINGULARITYENV__JAVA_OPTIONS="-Djava.io.tmpdir=${SCRATCH:?}"; export SINGULARITYENV_JAVA_TOOL_OPTIONS="-Djava.io.tmpdir=${SCRATCH:?}"'

    withLabel: 'process_low' {
        queue  = 'short'
        cpus   = { 2 * task.attempt }
        memory = { 8.GB * task.attempt }
        time   = '2h'
    }
    withLabel: 'process_medium' {
        queue  = 'epyc'
        cpus   = { 6 * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = '24h'
    }
}

profiles {
    hpcc {
        includeConfig 'conf/profile_hpcc.config'
    }
}
